{% if user.is_authenticated %}
Logged in as {{user.username}}
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'createtodos' %}">Create</a>
    <a href="{% url 'currenttodos' %}">Todos</a>
    <a href="{% url 'completedtodos' %}">Completed</a>
{% else %}
<a href="{% url 'loginuser' %}">Login</a>
<a href="{% url 'signupuser' %}">Sign Up</a>
{% endif %}


{% block content %}
    
{% endblock %}